body{
		background-image: url("media/template.jpg");
}

.button1 {
    display: block;
    height: 10%;
    width: 15%;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
	position: absolute;
	left:3%;
	bottom:5%;
     
	/*Change button color here.*/
    color: rgb(0, 0, 0);
    text-align: center;
    font: bold 160%/170% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: -o-linear-gradient(top, #ffffff, #ffffff);
    background: -ms-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(top, #ffffff, #ffffff);    
    -webkit-border-radius: 20%;
    -khtml-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;    
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;   
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); 
}
.button2 {
    display: block;
    height: 10%;
    width: 15%;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
	position: absolute;
	left: 20.4%;
	bottom:5%;
     
    /*Change button color here.*/
    color: rgb(0, 0, 0);
    text-align: center;
    font: bold 160%/170% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;    
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: -o-linear-gradient(top, #ffffff, #ffffff);
    background: -ms-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(top, #ffffff, #ffffff);    
    -webkit-border-radius: 20%;
    -khtml-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;    
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;   
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); 
}
.button3 {
    display: block;
    height: 10%;
    width: 15%;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
	position: absolute;
	left:37.8%;
	bottom:5%;
     
    /*Change button color here.*/
    color: rgb(0, 0, 0);
    text-align: center;
    font: bold 160%/170% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: -o-linear-gradient(top, #ffffff, #ffffff);
    background: -ms-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(top, #ffffff, #ffffff);   
    -webkit-border-radius: 20%;
    -khtml-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;    
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;   
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); 
}
.button4 {
    display: block;
    height: 10%;
    width: 15%;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
	position: absolute;
	left:55%;
	bottom:5%;
     
    /*Change button color here.*/
    color: rgb(0, 0, 0);
    text-align: center;
    font: bold 160%/170% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: -o-linear-gradient(top, #ffffff, #ffffff);
    background: -ms-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(top, #ffffff, #ffffff);
    -webkit-border-radius: 20%;
    -khtml-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;    
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;   
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); 
}
.forfeit_button {
    display: block;
    height: 10%;
    width: 15%;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
	position: absolute;
	right: 5.8%;
	bottom:2%;
     
    /*Change button color here.*/
    color: rgb(0, 0, 0);
    text-align: center;
    font: bold 160%/170% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: -o-linear-gradient(top, #ffffff, #ffffff);
    background: -ms-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(top, #ffffff, #ffffff);
    -webkit-border-radius: 20%;
    -khtml-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;    
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;   
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); 
}
/*Our health*/
.health1{
	position: absolute;
	background-color: whiteSmoke;
	-webkit-appearance: progress-bar;
	display: inline-box;
	height: 3.5%;
	width: 35%;
	vertical-align: 1%;
	right: 3.2%;
	bottom: 28.2%;
}
/*Enemy health*/
.health2{
	position: absolute;
	background-color: whiteSmoke;
	-webkit-appearance: progress-bar;
	display: inline-box;
	height: 3.5%;
	width: 35%;
	vertical-align: 1%;
	left: 6.6%;
	top: 27.2%;
}
/*Enemy name*/
.name2{
	position:absolute;
	top:12.5%;
	left:4.2%;
	text-transform:uppercase;
	font-size:175%;
}
/*Our name*/
.name1{
	position:absolute;
	right:18.5%;
	bottom:27.2%;
	text-transform:uppercase;
	font-size:175%;
}
/*Enemy Photo*/
.photo2{
	top: 16%;
	float:right;
	position: absolute;
}
/*Our photo*/
.photo1{
	float:left;
	position: absolute;
	top: 37%;
}	
/*Extra level thing for any purpose later.*/
.extra2{
	position: absolute;
	top: 19.5%;
	left: 35.7%;
	font-size: 100%;
}
/*Extra level thing for any purpose later.*/
.extra1{
	position: absolute;
	bottom: 29%;
	right: 3.1%;
	font-size: 100%;
}	
